.row-update-contact {
  margin-top: 40px;
}
.title-contact {
  margin-top: 30px;
  color: white;
  background-color: blue;
  width: 12%;
  border-radius: 10px 10px 10px 10px;
}

.update-contact {
  color: white;
  background-color: blue;
  border-radius: 5px 5px 5px 5px;
  font-size: 20px;
  text-align: center;
}
.table th.title-contact {
  color: black;
}

.object-contact {
  color: black;
  font-size: 20px;
}
.input-update-contact {
  width: 100%;
  min-height: 50%;
  margin-bottom: 20px;
}
.success-contact {
  color: green;
  font-size: 10px;
  float: left;
  border: 2px solid blue;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
}
.error-input {
  color: red;
}
.form-update-contact {
  background-color: white;
}
